@use 'sass:map';

@import '../../../app/global/variables/colors.scss';

.button {
  background-color: map.get($primary, 'main');
  border: none;
  border-radius: 10px;
  color: map.get($primary, 'light');
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1em;
}

.button:hover {
  background-color: map.get($secondary, 'main');
}
